<script src="/Plugin/ViewTimes_0_1/ViewTimes_0_1.js" type="text/javascript"></script>
<style>
    <!--
    #jcImg
    {
        width: 455px;
        padding: 5px;
        border: 1px solid #ccc;
        background: #f2f2f2;
        position: relative;
        overflow: hidden;
    }

        #jcImg ul
        {
            width: 455px;
            height: 320px;
            overflow: hidden;
            position: relative;
            z-index: 0;
        }

            #jcImg ul li
            {
                display: none;
                width: 455px;
                height: 320px;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
            }

    #smallImg
    {
        height: 65px;
        overflow: hidden;
        margin: 5px auto 0;
        position: relative;
        width: 420px;
    }

    #jcImg dl
    {
        width: 9999%;
        position: relative;
    }

    #jcImg dd
    {
        float: left;
        width: 106px;
        height: 64px;
        overflow: hidden;
        margin-right: 4px;
        _display: inline;
        cursor: pointer;
        position: relative;
    }

        #jcImg dd div
        {
            position: absolute;
            background: #000;
            height: 64px;
            width: 106px;
        }

    #jcImg b
    {
        width: 14px;
        height: 64px;
        background: #fff url(/img/btn.png) no-repeat;
        position: absolute;
        top: 330px;
        z-index: 1;
        cursor: pointer;
    }

    #jcImg #prev
    {
        float: left;
        left: 4px;
        background-position: 0 0;
    }

    #jcImg #next
    {
        float: right;
        right: 4px;
        background-position: right 0;
    }

    #jcImg #prev:hover
    {
        background-position: 0 -70px;
    }

    #jcImg #next:hover
    {
        background-position: right -70px;
    }

    #imgText
    {
        position: absolute;
        z-index: 1;
        left: 5px;
        top: 284px;
        width: 421px;
        height: 40px;
        display: none;
    }

        #imgText p, #imgText b
        {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 421px;
            line-height: 40px;
            padding: 0 17px;
            height: 40px;
            overflow: hidden;
            z-index: 1;
        }

        #imgText b
        {
            background: #000;
            z-index: 0;
        }

        #imgText span
        {
            color: #fff;
            text-shadow: 1px 1px 0 #000;
            float: left;
            font-size: 14px;
        }

        #imgText samp
        {
            color: #fff;
            text-shadow: 1px 1px 0 #000;
            float: right;
            font-size: 13px;
        }

    #imgHover
    {
        border: 4px solid #EC0000;
        height: 56px;
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    body, ul, ol, h2, h3, h4, h5, p, dl, dt, dd, form
    {
        padding: 0;
        margin: 0;
    }

    img
    {
        border: none;
    }

    li
    {
        list-style: none;
    }

    a
    {
        text-decoration: none;
        outline: none;
        color: #666666;
    }

        a:hover
        {
            text-decoration: none;
        }

    img
    {
        border: 0;
    }

    ul
    {
        list-style: none;
        margin: 0;
    }

    label
    {
        color: #6CBD45;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 0.5em;
        margin: 0;
    }

    .h3
    {
        font-size: 13px;
        font-weight: bold;
    }

    #show
    {
        background: url(images/photo.jpg);
    }

    #meun
    {
        color: #fff;
        padding-left: 10px;
    }

        #meun img
        {
            float: left;
        }

    #submeun
    {
        margin-left: 70px;
        float: left;
    }

        #submeun span
        {
            text-align: center;
            margin-right: 10px;
            float: left;
            display: inline;
        }

            #submeun span a
            {
                color: #fff;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
                display: block;
            }

            #submeun span.cur
            {
                text-align: center;
                background: #82ce18;
                margin-right: 10px;
                float: left;
                display: inline;
            }

    label.subtitle
    {
        font-size: 13px;
        float: right;
        color: #6CBD45;
        margin: 0 10px;
        text-align: right;
    }

    h1.title
    {
        height: 50px;
        font-size: 12px;
        background: url(logo.png) no-repeat;
    }

        h1.title a:link, h1.title a:visited, h1.title a:hover
        {
            color: #000;
            text-decoration: none;
        }
</style>

<div id="nav_son">
    <span><a href="/web/hotelorder/orderlist.aspx" class="cxdd">查询我的订单状态</a></span>
    @(ViewBag.Title) 旅游问答_攻略_交通_订房--专家！&nbsp;&nbsp;  
</div>
<div class="nav_son">
</div>
<div id="mainContent">
    <div id="imain">

        <div class="info_box">
            <div id="jcImg" class="TmpStyle" style="float: left;">
                <ul>
                    @foreach (var pict in ViewBag.Pics)
                    {
                        <li><a>
                            <img src="http://www.youcod.com/@pict.Bigimgfile" height="320" width="455" title="@pict.Title" /></a></li> 
                    }
                </ul>
            </div>

            <div style="float: right; width: 245px;">
                <h4 style="color: #05a">@ViewBag.Entity.Jingquname</h4>

                <dl style="margin-top: 5px">
                    <dt style="float: left;">简介：</dt>
                    <dd style="margin-left: 38px">
                        @Html.Raw(ViewBag.Entity.Sumary)

                    </dd>
                </dl>
                <dl style="margin-top: 5px">
                    <dt style="float: left;">门票：</dt>
                    <dd style="margin-left: 38px">
                        @Html.Raw(ViewBag.Entity.Priceinfo)
                    </dd>
                </dl>
                <dl style="margin-top: 5px">
                    <dt style="float: left;">人气：</dt>
                    <dd style="margin-left: 38px" viewtimes_add_guid='@ViewBag.Entity.Guid'>0
                    </dd>
                </dl>
                <dl>
                    <dt style="float: left;">评论：</dt>
                    <dd style="margin-left: 38px">
                        <a href="/Wapper/comm/comments.aspx?ct=5&pguid=@ViewBag.Entity.Guid" style="color: Blue">【有<span comment_get_guid='@ViewBag.Entity.Guid'>0</span>人参与】</a>
                        <script src="/js/CommentNumberGet.js" type="text/javascript"></script>
                    </dd>
                </dl>
            </div>
            <div class="clearfloat">
            </div>
        </div>

        @if(ViewBag.Hotels.Count > 0)
        {
        <div class="info_box" id="ajaxbox">
            <div class="box_tit">
                <strong>@(ViewBag.Title)推荐酒店</strong>
                <ul id="uHotel" class="tabs">
                </ul>
            </div>
            <div id="ajaxboxinfo">
                <div class="tuijian_con">
                    <div class="tj_box"><h3>星级酒店</h3>
         <ul>
                  
          <li><span class="pr">￥2280</span><span class="area">位于:<a href="/hotel?jingqucode=ZJJ&amp;area=0" title="" target="_blank"></a></span><a href="/jq_zjj/hotel/253" title="张家界青和锦江国际酒店
最低价格：2280元起订 
位于：">张家界青和锦江国际酒店</a></li>
                
         </ul>
        </div>
                </div>
            </div>
        </div>
        }
 


        <script type="text/javascript" src="/web/js/jquery.tools.min.js"></script>

        <!-- the tabs -->

        <script type="text/javascript">
            $(function () {
                // setup ul.tabs to work as tabs for each div directly under div.panes
                $("#uQus.tabs").tabs("div.zx_list > ul", { event: 'mouseover' });
            });
            $(function () {
                // setup ul.tabs to work as tabs for each div directly under div.panes
                $("#uSite.tabs").tabs("div.info_pic > ul", { event: 'mouseover' });
            });
            $(function () {
                // setup ul.tabs to work as tabs for each div directly under div.panes
                $("#uHotel.tabs").tabs("div#ajaxboxinfo > div.tuijian_con", { event: 'mouseover' });
            });
        </script>
        <script src="/js/jQuery-jcImg.js" language="javascript"></script>
        <script>
            $(function () {
                $("#jcImg").jcImg({
                    speed: 400, // 动画速度
                    height: 64,  // 缩略图高度设置
                    width: 106, // 缩略图宽度设置
                    textBg: 0.5, // 文本透明度设置
                    page: 5     // 每页缩略图显示个数
                });
            });
        </script>
        
        
        <div class="info_box">
            <h2>
                <div>
                    @(ViewBag.Title)旅游问答
                </div>
                <ul id="uQus" class="tabs">
                </ul>
            </h2>
            <div class="zx_list">

                <ul>
                    @foreach(var item in ViewBag.Questions){
                    <li><span>@item.CreateDate.ToString("yyyy-MM-dd")</span>
                        <a href="/JQ_@ViewBag.JQ/questions?type=@item.Code">[@item.TypeTile]</a>&nbsp;<a href="/JQ_@ViewBag.JQ/questions/@item.Seqno">@item.Title</a>
                    </li>
                    }
                </ul>

            </div>
        </div>
         

        <div class="info_box">
            <h2>
                <div>
                    @(ViewBag.Title)景点
                </div>
                <ul id="uQus" class="tabs">
                </ul>
            </h2>
            <div class="zx_list">
                @foreach (var item in ViewBag.Sites)
                {                    
                <div class="list_box1 " style="border-bottom:1px dotted #ccc;">
                    <div class="lb_pic">
                        <img border="0" src="http://www.youcod.com@item.Logo" alt="@item.Title" width="100" height="80">
                    </div>
                    <div class="lb_con">
                        <h3><a href="/JQ_xqs/Sites/324">@(item.Title)简介</a></h3>
                        <dl>
                            @Html.Raw(item.Shortcontent)
                        </dl>
                    </div>
                </div>
                } 
            </div>
        </div>


        

    </div>
    <div id="iside">
        @if (ViewBag.JQList.Count>0)
        {
        <div class="sidebox">
            <h4>
                <span><a href="/jingdianlst">更多</a></span>附近景区</h4>
            <div class="site_button">
                <ul> 
                    @foreach (var item in ViewBag.JQList )
                    {
                     <li><a href="/JQ_@item.Jingqucode" title="@item.Jingquname">@item.Jingquname</a></li>
                    } 
                </ul>
            </div>
        </div>
        }

        <div class="sidebox">
            <h4>天气情况
            </h4>
            <div class="sbox_con">
                @Html.Raw(ViewBag.Entity.Weatherinfo)
            </div>
        </div>

        @if (ViewBag.QuestionTyps.Count>0)
        {
        <div class="sidebox">
            <h4>
                <span><a href="/questions">更多</a></span>问题类型</h4>
            <div class="site_button">
                <ul>
                    @foreach (var item in ViewBag.QuestionTyps)
                    {
                        
                    <li><a href="/JQ_@ViewBag.JQ/questions?type=@item.Code" title="@item.Title">@item.Title</a></li>                     
                    }
               

                </ul>
            </div>
        </div>
        }

        <div class="sidebox">
            <h4>
                <span></span>实用信息
            </h4>
            <div class="sbox_con">
                <ul>

                    <li>
                        <a href="http://www.youcod.com/html/danxia/News_3.html" target="_blank" title="深圳丹霞山3日自由行-旅游攻略">深圳丹霞山3日自由行-旅游攻略</a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="side_zx">
            <h4>
                <span>
                    <a href="/JQ_nxml/news?typeCode=lygl">更多</a>
                </span>南雄梅岭旅游攻略
            </h4>
            <ul>
            </ul>
        </div>

        <div class="sidebox">
            <h4>
                <span></span>南雄梅岭最近更新
            </h4>
            <div class="sbox_con">
                <ul>


                    <li>

                        <a href='/JQ_nxml/questions/320' title='珠玑古巷怎么去梅岭？'>珠玑古巷怎么去梅岭？</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="clearfloat">
    </div>
</div>
